
.detail-img{
    width: 100%;
}

.detail-btn{
    background-color: #252525;
    padding: 5px;
    color: white;
    border: 1px solid #252525;
    cursor: pointer;
    margin-right: 12px;

}

.detail-btn:hover{
background-color: white;
color: #252525;

}

.detail-btn:active{
transform: scale(1.12);
transition: 0s;
}




